<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Synth Directory</title>
</head>

<body>

<div class="container">

    <h3>Synth Directory</h3>
    <hr>

    <a th:href="@{/synths/showFormForAdd}"
    class="btn btn-primary btn-sm mb-3">
        Add Synth
    </a>

    <table class="table table-bordered table-stripped">
        <thead class="table-dark">
        <tr>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Serial Number</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempSynth : ${synths}">
            <td th:text="${tempSynth.manufacturerName}" />
            <td th:text="${tempSynth.modelName}" />
            <td th:text="${tempSynth.serialNumber}" />


        </tr>

        </tbody>


    </table>





</div>

</body>
</html>